/*body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
}*/

.ui-widget {
    font-size: 12px !important;
}

html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    font-size: 12px !important;

    background-image: url("#{resource['img:/tramaMediaClara.jpg']}");
    background-repeat: repeat;

    height: 100%;
}

.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}

.center {
    text-align: center;
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

.fondoTextura{
    background-image: url("#{resource['img:/tweed.png']}");
    background-repeat: repeat;
}

.sinBordes tr, .sinBordes td {
    border: none !important;
}

.centradoTotal {
    position: absolute;
    height: 100px;
    top: 0;
    bottom: 0;
    margin:auto;
}

// Color: #82CADC Seleccion de Dario
// Color anterior: #21B2CE

.ui-datatable-header {
    background: #82CADC !important;
    background-color: #82CADC !important;
    border: none;
}

.sinFondo tr, .sinBordes td{
    background: none !important;
}

.filaResaltada1{
    background: none repeat scroll 0 0 #FFFFFF;
}

.filaResaltada2{
    background: none repeat scroll 0 0 #F1F7F9;
}

.tabla tbody td {
  //border-color: #4B4B4B;
  border-color: #878787;
  border-width: 2px;
  border-left: none;
  border-right: none;
}

.tabla thead td {
  //border-color: #4B4B4B;
  border-color: #878787;
  border-width: 2px;
  border-left: none;
  border-right: none;
}

.pie1 {
    text-align: center;
    vertical-align: middle;
    font-size: 15px !important;
    font-family: 'Montserrat';
    color: white;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    /*    src: local('Montserrat-Bold'), url(https://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');*/
    src: local('Montserrat-Bold'), url("#{resource['fonts:/Montserrat-Bold.ttf']}");
}
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    /*src: local('Varela Round'), local('VarelaRound-Regular'), url(https://themes.googleusercontent.com/static/fonts/varelaround/v4/APH4jr0uSos5wiut5cpjrnhCUOGz7vYGh680lGh-uXM.woff) format('woff');*/
    src: local('Varela Round'), local('VarelaRound-Regular'), url("#{resource['fonts:/VarelaRound-Regular.ttf']}");;
}


.wrapper {
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.rounded-corners {

    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -khtml-border-radius: 11px;        
    border-radius: 11px;
    /*behavior: url(border-radius.htc); NO*/
    /*behavior: url("#{resource['css:/border-radius.htc']}"); //FUNCIONA*/
}

.cabecera1 {
    text-align: left;
    font-size: 48px !important;
    font-family: 'Varela Round';
    //color: white;
    color: #6684A3;
    margin: 0px 10px;
    padding-top: 85px;
    line-height: 10px;
}

.cabecera2 {
    text-align: left;
    font-size: 16px !important;
    font-family: 'Montserrat';
    color: skyblue;
    line-height: 10px;
    margin: 30px 10px;

}

.imagenCabecera {
    
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    /*height: 18%;*/
    
    width: 950px;
    height: 191px;
    
    margin: 0 auto;
    //background-color: #003366; 
    background-color: #DBE8F0; 
    //background-color: #FFFFFF; 
    /*        background-color: transparent;*/
    //background-image: url("#{resource['img:/vinculacionTecnologica.png']}");        
    background-image: url("#{resource['img:/Wayra4.png']}");        
    background-size: 100%;
    background-repeat: no-repeat ;

    /*position: relative;*/
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 100px;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    //overflow: hidden;
}

.menu1{
    width: 950px; 
    margin: 6px auto 6px auto;

}
.content {

}

/* Left Sidebar
-----------------------------------------------------------------------------*/
/*.left-sidebar {
        float: left;
        width: 15%;
        margin-left: -100%;
        position: relative;
        background: #B5E3FF;
}
*/

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 950px;
    /*min-width: 100%;*/        
    background-color: #444444;    
    margin: auto ;
    height: 5%;
    vertical-align: middle;
    text-align: center;
    position: relative;
    /*background-color: #6685A3; */

}

.ui-icon-imprimir{   
    width: 32px;   
    height: 32px;   
    background-image: url("#{resource['img/print_printer.png']}");   
} 

.ui-icon-cancelar{
    background-image: url("#{resource['img/cancel.jpg']}") !important;
}

.bubble {
    background: none repeat scroll 0% 0% #E02424;
    position: absolute;
    right: 5px;
    top: -5px;
    padding: 2px 6px;
    color: #FFF;
    font: bold 0.9em Tahoma,Arial,Helvetica;
    border-radius: 3px;
}

#noti_Container {
    position:relative;
    //padding: 10px 1px 20px 1px;
    width:110px;
    height:16px;
    display: table;
}
.noti_bubble {
    position:absolute;
    top: 3px;
    right:-6px;
    padding:3px 7px 3px 7px;
    background-color:red;
    color:white;
    font-weight:bold;
    font-size:0.80em;

    border-radius:40px;
    box-shadow:3px 3px 3px gray;
}
